html,
body {
  scroll-behavior: smooth;
  background-color: #09080c;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: "NotoSans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  overflow-y: auto;
}

#root {
  // Root element
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.center-root {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center_vertical-root {
  display: flex;
  align-items: center;
}

.space-between-root {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.eclipse {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; // default 1 line
  -webkit-box-orient: vertical;
}
